<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
        <title>Vote</title>
    </head>
    <body>
        <div id="content">

<h1>Polls App</h1>

You are: {{ user }}

<h2>Vote</h2>

{% if error_message %}
        <p style="color: crimson;"><strong>{{ error_message }}</strong></p>
{% endif %}

<p>{{ question.question_text }}</p>

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
        {% endfor %}
    <input type="submit" value="Vote">
</form>

{% if user.is_superuser %}
    <p><a onclick="return confirm('Are you sure you want to delete this poll?')" href="{% url 'polls:delete_poll' question.id %}">Delete</a></p>

    <!-- A part of the CSRF flaw fix: uncomment the code below, and comment out or delete the code line above -->

    <!--
    <form action="{% url 'polls:delete_poll' question.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ question.id }}">
        <input onclick="return confirm('Are you sure you want to delete this poll?')" type="submit" value="Delete">
    </form>
    -->
{% endif %}

<p><a href="{% url 'polls:results' question.id %}">Results</a></p>
<p><a href="/{{ question.id }}/comments">Comments ({{ question.comment_set.all|length }})</a></p>
<p><a href="{% url 'polls:index' %}">Back to Polls</a></p>

        </div>
    </body>
</html>
